<div class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-col-1">
        <a>BestCars</a>
        <p>Our main purpose is to sell the cheapeast and in the same time the most realiable cars</p>
      </div>
      <div class="footer-col-2">
        <h3>Useful Links</h3>
        <ul>
          <li>Coupons</li>
          <li>Return Policy</li>
          <li>Join Affiliate</li>
        </ul>
      </div>
      <div class="footer-col-3">
        <h3>Follow us</h3>
        <ul>
          <li>Facebook</li>
          <li>Instagram</li>
          <li>Youtube</li>
        </ul>
      </div>
    </div>
  </div>
</div>
